@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Press Start 2P", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #222;
  color: #fff;
}

header {
  padding: 2rem 1rem;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

header h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: 15rem;
}

#new-task-form {
  display: flex;
  flex-direction: row-reverse;
}

input,
button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
}

#new-task-input {
  flex: 1 1 0%;
  background-color: rgb(13, 86, 0);
  padding: 1rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  width: 90%;
}

#new-task-input::placeholder {
  color: grey;
}

#new-task-submit {
  font-size: 1.25rem;
  background-color: black;
  font-weight: 700;
  color: #eee;
  cursor: pointer;
  transition: 0.4s;
  margin-right: 10px;
}

#new-task-submit:hover {
  opacity: 0.8;
}

#new-task-submit:active {
  opacity: 0.6;
}

main {
  flex: 1 1 0%;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.task-list {
  padding: 1rem;
}

.task-list h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 1rem;
  color: #eee;
}
#tasks .task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(13, 86, 0);
  padding: 1rem;
  margin-bottom: 1rem;
}

.task .content {
  flex: 1 1 0%;
}

.task .content .text {
  color: white;
  font-size: 1.125rem;
  width: 100%;
  display: block;
  transition: 0.4s;
}

.task .content .text:not(:read-only) {
  color: black;
}
.task .actions {
  display: flex;
  /* margin: 0 -0.5rem; */
  background-color: black;
  height: inherit;
}

.task .actions button {
  cursor: pointer;
  margin: 0 0.5rem;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.4s;
}

.task .actions button:hover {
  opacity: 0.8;
}

.task .actions button:active {
  opacity: 0.6;
}

.task .actions .edit {
  color: #eee;
}

.task .actions .delete {
  font-size: 30px;
  color: red;
}
